In [18]:
# dictionary 구조
# 검색이 가능한 데이터 구조
# 사물, 객체를 표현할 때 사용이 됨

# 학생을 표현
student = {
    "name" : "홍길동", "학교" : "충남대", "전공" : "영문학",
    "성적" : [90, 80, 78, 95]
}

# 학생정보 출력
print(student)

{'name': '홍길동', '학교': '충남대', '전공': '영문학', '성적': [90, 80, 78, 95]}

In [24]:
# 딕셔너리 값을 출력
# 키값을 사용하여 값을 출력

print(student["학교"])
print(student["성적"])

충남대
[90, 80, 78, 95]

In [32]:
# 딕셔너리 값을 출력
# 키값을 사용하여 값을 출력
# 홍길동의 1학년 성적을 출력

grade = student["성적"]
print(grade[0])

print(student["성적"][0])

90
90