In [58]:
# 문자열 처리
# 인덱싱, 슬라이싱(추출)

a = 'Life is too short, You need Python'
b = '0123456789012345678901234567890123'
letter = a[19:-1]
print(letter)

You need Pytho

In [26]:
jumin_Num = '010203-1400554'
# 주민번호에서 성별을 추출하여 남자인지 여자인지 구분하시오
gender = jumin_Num[7]
print(gender)

if gender == '2' or gender == '4':
    print('여성입니다.')
else:
    print('남성입니다.')

1
남성입니다.

In [54]:
# 주민번호에서 년도를 추출하여 나이를 출력하시오.
jumin_Num = '020203-4400554'

# num = jumin_Num[0] + jumin_Num[1]
year = int(jumin_Num[0:2]) + 2000
month = int(jumin_Num[2:4])
day = int(jumin_Num[4:6])
print('태어난 년도 :', year)
print('월 :', month)
print('일 :', day)

태어난 년도 : 2002
월 : 2
일 : 3

In [106]:
# 다양한 데이터 출력 방법
# 1. print(변수, 값), 옵션 end : 한 줄에 출력
# 2. .format()
# 3. %
# 4. f 문자열 포맷팅

print("I eat %d apples." % 3)

num = 10
print("I eat %d apples. %.2f : %8.3f" % (num, 123.457, 789.565754))

print("I eat {1} apples. {2} : {0}".format(num, num+10, 1234.23232))

I eat 3 apples.
I eat 10 apples. 123.46 :  789.566
I eat 20 apples. 1234.23232 : 10

In [111]:
print("%10s" % "안녕 친구야")
"%10s" % "안녕 친구야"

    안녕 친구야

'    안녕 친구야'

In [115]:
print("%-10s" % "안녕 친구야")
"%-10s" % "안녕 친구야"

안녕 친구야

'안녕 친구야    '

In [178]:
print("{0:<20}".format("안녕 친구야"))
print("{0:^20}".format("안녕 친구야"))
print("{0:>20}".format("안녕 친구야"))
print("{0:*^20}".format("안녕 친구야"))
print("{0:=^20}".format("안녕 친구야"))
print("{0:0>20}".format(12345))
print("{0:>20.3f}".format(123.4567))
"{0:^20}".format("안녕 친구야")

안녕 친구야
       안녕 친구야
              안녕 친구야
*******안녕 친구야*******
=======안녕 친구야=======
00000000000000012345
             123.457

'       안녕 친구야       '

In [172]:
# f 포맷팅
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [179]:
str = "안녕 친구야 잘 지냈어"
pos = str.index('잘')
out = str[pos:]
out1 = str[:pos]

print(pos)
print(out)
print(out1)

7
잘 지냈어
안녕 친구야

In [168]:
",".join('abcd')

'a,b,c,d'